.register-container{
    font-family: "Times New Roman", Times, serif;
}
h2 {
   
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h1 {
    padding-left: 10%;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}
table {
    padding-left: 5%;
    padding-right: 5%;
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}
.status[data-status="Rejected"] {
    color: red;
    font-weight: bold;
  }
  
  .status[data-status="Accepted"] {
    color: green;
    font-weight: bold;
  }

  .status[data-status="Progress"] {
    color: orange;
    font-weight: bold;
  }

input[type=text] {
    float: right;
    padding: 6px;
    margin-top: 3px;
    margin-right: 10px;
    border-color: black;
    font-size: 17px;
    border-radius: 5px;
  }

  .searchbtton{
    float: right;
    color:white;
    background-color: green;
    font-size: 20px;
    margin-top: 3px;
    margin-right: 100px;
    border-radius: 10px;
    width: 100px;
    height: 40px;
  }