.register-container{
    font-family: "Times New Roman", Times, serif;
}
p{
  font-family: "Times New Roman", Times, serif;
  padding-left: 10%;
}
h1 {
    padding-left: 10%;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    font-weight: bold;
}
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
}
table {
    padding-left: 5%;
    padding-right: 5%;
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}
.status[data-status="Rejected"] {
    color: red;
    font-weight: bold;
  }
  
  .status[data-status="Accepted"] {
    color: green;
    font-weight: bold;
  }

  .status[data-status="Progress"] {
    color: orange;
    font-weight: bold;
  }

input[type=text] {
    float: right;
    padding: 6px;
    margin-top: 3px;
    margin-right: 10px;
    border-color: black;
    font-size: 17px;
    border-radius: 5px;
  }

.SortByValue{
    display: flex;
}

.sortBy{
      color:white;
      font-size: 15px;
      border-radius: 10px;
      width: 70px;
      background-color: darkorchid;
      height: 40px;
      border-color: darkorchid;
  }
  h5{
    font-family: "Times New Roman", Times, serif;
    padding-left: 5%;
  }
  #btn1{
    margin-left: 2%;
  }
  #btn2{
    margin-left: 1%;
  }
  #btn3{
    width: 100px;
    margin-left: 1%;
  }
  #btn4{
    margin-left: 1%;
  }
.searchbtton{
    
    color:white;
    background-color: green;
    font-size: 20px;
    margin-top: 3px;
    margin-left:40%;
    margin-right: 10px;
    border-radius: 10px;
    width: 100px;
    height: 40px;
  }