<div class="register-container">
    <h1>EMPLOYEE DETAILS</h1>
    <p>Accepted: {{statusCounts.Accepted}} Progress: {{statusCounts.Progress}} Rejected: {{statusCounts.Rejected}}</p>
    <div class="SortByValue">
      <h5>Sort By : </h5>
    <button class="sortBy" id="btn1" (click)="OnSortByID()">ID</button>
    <button class="sortBy" id="btn2" (click)="OnSortByName()">Name</button>
    <button class="sortBy" id="btn3" (click)="OnSortByExpereince()">Experience</button>
    <button class="sortBy" id="btn4" (click)="OnSortByStatus()">Status</button>
    <!-- <button class="searchbtton" (click)="onSearch()">Search</button> -->
    <input type="text" [(ngModel)]="searchValue"  placeholder="Search...">
  </div>
    <br>

    <table class="table">
        <thead>
        <tr>
              <th>      ID  </th>
                <th>    Name  </th>
                 <th>   Contact No  </th>
                <th>    Recruit Status </th>
                <th>   Designation  </th>
                <th>    Experience </th>
                <th>    Update </th>
                <th>    Delete </th>
        </tr>
        </thead>
    
        <tbody>
                <tr *ngFor="let StudentItem of data | filterEmployee : searchValue">
                   <td>{{StudentItem.id}}</td>
                    <td>{{ StudentItem.name }}</td>
                    <td>{{ StudentItem.phone }}</td>
                    <td class="status" [attr.data-status]="StudentItem.recruitstatus">{{ StudentItem.recruitstatus }}</td> 
                    <td>{{ StudentItem.designation }}</td> 
                  <td>{{StudentItem.experiencenoofyears}}</td>
                    
                  <td>
                    <button type="button" class="btn btn-success" (click)="redirectToDestination(StudentItem.id)">Update</button></td>
                <td> <button type="button" class="btn btn-danger" (click)="DeleteStudentinfo(StudentItem.id)">Delete</button></td>   
                
                  
                </tr>
        </tbody>
    
    </table>

</div>