h3{
    font-family: "Times New Roman", Times, serif;
    padding-top: 2%;
    padding-left: 34%;
    font-weight: bold;
}
.chartt{
    font-family: "Times New Roman", Times, serif;
    padding-left: 32%;
}
.canvaschart{
    width: 600px;
    height: 600px;
}
.textchartt{
    padding-left: 4%;
}
.displaycount{
    display:flex;
    padding-left: 40%;
}
.accepteddisplay{
    color:green
}
.progressdisplay{
    padding-left: 2%;
    color:orange;
}
.rejecteddisplay{
    padding-left: 2%;
    color:red;
}